
html, button {
  font-family: sans-serif;
}

header{
  border-radius: 5px;
  text-align: left;
  background-color: #555555;
  color: white;
  box-shadow: 5px 5px 10px grey;
}

footer{
  border-radius: 5px;
  text-align: center;
  background-color: #555555;
  color: white;
  box-shadow: 5px 5px 10px grey;
}

body {
  background-color: #F7F7F7;
}

fieldset{
  border-radius: 5px;
  margin-bottom: 10px;
}

legend{
  text-align:left;
}

aside{
  text-align: center;
}

.back{
  width:99%;
  border-radius: 5px;
  text-align: center;
  background-color: #555555;
  color: white;
  padding-bottom: 10px;
}

table{
  border-radius: 5px;
  width: 99%;
  background-color: #555555;
  border: none;
  color: white;
  box-shadow: 5px 5px 10px grey;
  overflow: visible;
}

button{
  border-radius: 5px;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 2px 2px 5px grey;
}

select{
  border-radius: 5px;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 2px 2px 5px grey;
}

.views{
  height: 740px;
  width: 100%;
}

#map {
  border-radius: 10px;
  height: 600px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 15px 10px 15px 10px;
  width: 100%;
}

@media only screen and (min-width: 990px) {
	.col-1 { width: 8.33%; }
	.col-2 { width: 16.66%; }
	.col-3 { width: 25%; }
	.col-4 { width: 33.33%; }
	.col-5 { width: 41.66%; }
	.col-6 { width: 50%; }
	.col-7 { width: 58.33%; }
	.col-8 { width: 66.66%; }
	.col-9 { width: 75%; }
	.col-10 { width: 83.33%; }
	.col-11 { width: 91.66%; }
	.col-12 { width: 100%; }
}












